@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

$govuk-font-family: "Open Sans";
$govuk-include-default-font-face: false;
$lbh-font-family: "Open Sans";

@import "node_modules/govuk-frontend/govuk/base";

@import "settings/all";

$govuk-asset-path: $lbh-asset-path;

@import "tools/all";
@import "helpers/all";
