---
---

#toc_container {
    background: #ffffff none repeat scroll 0 0;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.header-main {
    background: #525a5b;
}

.header-main h1, h2 {
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
  }  

.toc_title {
    font-weight: 700;
    color: #0b0c0c;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

#toc_container li a {
    color: #0b0c0c;
    text-decoration: none;
}